<div class="user-card" [ngClass]="{ 'active-card': isActive }">
  <div class="profile-header">
    <img [src]="user.profileImage" alt="" class="profile-image" />
    <div class="name-gender">
      <p class="name no-bottom-margin" style="font-weight: 700">
        {{ user.name }}
      </p>
      <small class="block-style">{{ user.email }}</small>
      <small class="block-style">{{ user.gender }}</small>
    </div>
  </div>

  <div class="location-header">
    <p class="no-bottom-margin" style="font-weight: 700">
      {{ user.location.address }}
    </p>
    <small>{{ user.location.country }}</small>
  </div>

  <div class="weather">
    <p class="temperature">
      <strong class="temp-value">{{ user.weather.temperature }}</strong>
      <span>{{ user.weather.temperatureUnit }}</span>
    </p>
    <div class="current-weather">
      <img [src]="user.weather.icon" class="weather-icon" />
      <small class="weather-description">{{ user.weather.description }}</small>
    </div>
  </div>

  <div class="action-buttons" *ngIf="!isSavedUsers">
    <button
      class="btn btn-primary"
      type="button"
      (click)="saveToLocalStorage()"
      [disabled]="(buttonLabel$ | async) === 'Saved'"
    >
      {{ buttonLabel$ | async }}
    </button>
  </div>
</div>
