.user-cards {
  overflow-y: auto;
  max-height: 92vh;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
  padding: 0 20px 0 20px;
}

.weather-map {
  display: flex;
  width: 100%;
}

.hourly-weather {
  width: 50%;
  text-align: center;
  height: 400px;
}

.user-map {
  width: 50%;
  text-align: center;
}

.active-card {
  border: 2px solid lightblue;
}

@media only screen and (min-width: 1200px) {
  .weather-map-layout {
    width: 66.6% !important;
  }
}

@media only screen and (max-width: 1200px) {
  .user-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 450px;
    overflow-x: auto;
  }

  .layout-row {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
  }

  .column-layout {
    width: 100%;
  }

  .weather-map-layout {
    width: 100% !important;
  }
}

@media only screen and (max-width: 400px) {
  .user-cards {
    padding: 0 20px 0 20px;
  }
}
