<div class="container">
  <div class="row">
    <div class="col-md-4 column-layout">
      <ul
        ngbNav
        #nav="ngbNav"
        [(activeId)]="active"
        class="nav-tabs"
        (navChange)="onNavChange($event)"
      >
        <li [ngbNavItem]="1">
          <button ngbNavLink>Users</button>
          <ng-template ngbNavContent>
            <div class="user-cards">
              <app-user-card
                *ngFor="let user of users$ | async"
                [user]="user"
                (click)="userToMap(user)"
                [isActive]="user.email === (userToMap$ | async).email"
              ></app-user-card>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <button ngbNavLink>Saved Users</button>
          <ng-template ngbNavContent>
            <div class="user-cards">
              <app-user-card
                *ngFor="let user of savedUsers$ | async"
                [user]="user"
                (click)="userToMap(user)"
                [isSavedUsers]="true"
                [isActive]="user.email === (userToMap$ | async).email"
              ></app-user-card>
            </div>
          </ng-template>
        </li>
      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
    <div class="col-md-8 weather-map-layout">
      <app-user-map [user]="userToMap$ | async" class="user-map"></app-user-map>
      <app-hourly-weather
        [user]="userToMap$ | async"
        class="hourly-weather"
      ></app-hourly-weather>
    </div>
  </div>
</div>
